<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>Make a new chat</h1>
        <form method="post" action="/chat/create">
            <input type="text" required name="title" placeholder="title">
            <input type="text" required name="members" placeholder="members">
            <input type="submit" value="submit">
        </form>
    </body>
<html>